@import url('spacing.css');

:root {
  --bg: white;
  --font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  --border-color: gainsboro;
  --link-color: blue;
  --red: crimson;
  --text-color: black;
  --text-muted: gray;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #222;
    --border-color: dimgray;
    --link-color: powderblue;
    --red: lightcoral;
    --text-color: lightgray;
  }
}

body {
  font-family: var(--font-family);
  background-color: var(--bg);
  color: var(--text-color);
}

.container {
  margin: 2em auto;
  padding: 0 1.5em;
  max-width: 960px;
}

.pure-g > * {
  box-sizing: border-box;
}

/* General typography
--------------------------------------- */

/*
When setting the primary font stack, apply it to the Pure grid units along
with "html", "button", "input", "select", and "textarea". Pure Grids use
specific font stacks to ensure the greatest OS/browser compatibility.
*/
html,
button,
input,
select,
textarea,
.pure-g [class*='pure-u'] {
  /* Set your content font stack here: */
  font-family: var(--font-family);
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  text-decoration: underline;
}

.title {
  font-size: 1.2em;
  font-weight: normal;
}

.strong {
  font-weight: bold;
}

.muted {
  color: var(--text-muted);
}

.error,
.danger,
.red {
  color: var(--red);
}

/* Search control
--------------------------------------- */

.search-form {
  display: flex;
}

.search-input {
  width: 100%;
}

/* Bookmarks list
--------------------------------------- */

.selected-tag:not(:last-child)::after {
  content: ', ';
}

.bookmark-item + .bookmark-item {
  border-top: 1px solid var(--border-color);
}

.url {
  display: block;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.description {
  line-height: 1.45;
}

.tags {
  padding-left: 0;
  list-style: none;
}

.tags li {
  display: inline-block;
}

.bookmark-meta,
.url {
  font-size: 0.875rem;
}

.bookmark-actions a {
  color: var(--text-muted);
}

.bookmark-actions .bookmark-delete:hover {
  color: var(--red);
}

/* Pagination
--------------------------------------- */
.pagination {
  display: flex;
  justify-content: center;
}

.pagination-input {
  width: 5em;
  text-align: center;
}

/* Tag Autocomplete
--------------------------------------- */

.fieldset-wrap {
  position: relative;
}

.tag-autocomplete {
  position: absolute;
  left: 0;
  top: calc(100% - 0.75rem);
  margin: 0;
  border: 1px solid var(--text-muted);
  border-top: none;
  box-sizing: border-box;
  min-width: 250px;
  background-color: var(--bg);
  z-index: 10;
}

.tag-autocomplete-search {
  top: 100%;
}

/* Forms 
--------------------------------------- */

.control {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.button-arrow {
  font-size: 1.2em;
  line-height: 1em;
}

input[type='date'].error,
input[type='date'].error:focus,
input[type='date'].danger,
input[type='date'].danger:focus,
input[type='number'].error,
input[type='number'].error:focus,
input[type='number'].danger,
input[type='number'].danger:focus,
input[type='text'].error,
input[type='text'].error:focus,
input[type='text'].danger,
input[type='text'].danger:focus,
input[type='url'].error,
input[type='url'].error:focus,
input[type='url'].danger,
input[type='url'].danger:focus {
  border-color: var(--red);
  color: unset;
}

@media (prefers-color-scheme: dark) {
  #app .pure-form input[type='text'],
  #app .pure-form input[type='url'],
  #app .pure-form input[type='number'],
  #app .pure-form textarea {
    background-color: #333;
    border-color: darkgray;
    box-shadow: 0 1px 3px black;
    color: var(--text-color);
  }

  #app .pure-form input[type='text']:focus,
  #app .pure-form input[type='url']:focus,
  #app .pure-form input[type='number']:focus,
  #app .pure-form textarea:focus {
    border-color: #129fea;
  }

  #app .pure-form input[type='date'].error,
  #app .pure-form input[type='date'].error:focus,
  #app .pure-form input[type='date'].danger,
  #app .pure-form input[type='date'].danger:focus,
  #app .pure-form input[type='number'].error,
  #app .pure-form input[type='number'].error:focus,
  #app .pure-form input[type='number'].danger,
  #app .pure-form input[type='number'].danger:focus,
  #app .pure-form input[type='text'].error,
  #app .pure-form input[type='text'].error:focus,
  #app .pure-form input[type='text'].danger,
  #app .pure-form input[type='text'].danger:focus,
  #app .pure-form input[type='url'].error,
  #app .pure-form input[type='url'].error:focus,
  #app .pure-form input[type='url'].danger,
  #app .pure-form input[type='url'].danger:focus {
    border-color: var(--red);
  }
}

/* Menu
--------------------------------------- */

.pure-menu-selected > .pure-menu-link,
.pure-menu-selected > .pure-menu-link {
  text-decoration: underline;
  color: var(--text-color) !important;
}

@media (prefers-color-scheme: dark) {
  .pure-menu-link {
    color: var(--text-muted);
  }

  .pure-menu-active > .pure-menu-link,
  .pure-menu-link:focus,
  .pure-menu-link:hover {
    background: #1a1a1a;
  }
}

/* Loader
--------------------------------------- */

.loader-main {
  position: absolute;
  left: 50%;
  top: 200px;
  transform: translateX(-50%);
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px solid var(--text-muted);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-bottom-color: var(--text-muted);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
