<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Bookmarks</title>
    <link rel="stylesheet" href="css/pure-nr-min.css" />
    <link rel="stylesheet" href="css/pure-grids-min.css" />
    <link rel="stylesheet" href="css/app.css" />
    <script defer src="js/vue.js"></script>
    <script defer type="module" src="js/app.js"></script>
  </head>

  <body>
    <div class="container" id="app">
      <b-no-token v-if="!hasToken" @token-added="hasToken = true"></b-no-token>

      <template v-else>
        <b-dashboard></b-dashboard>
      </template>
    </div>

    <!-- COMPONENT TEMPLATES -->

    <!-- Dashboard -->
    <template id="b-dashboard">
      <div>
        <details ref="addBookmarkForm">
          <summary class="pure-button">Add Bookmark</summary>

          <b-bookmark-form
            @bookmark-saved="closeBookmarkForm"
            @cancel="closeBookmarkForm"
          ></b-bookmark-form>
        </details>

        <b-bookmarks :bookmarks="bookmarks" class="m-t-xl"></b-bookmarks>
      </div>
    </template>

    <!-- Bookmarks list -->
    <template id="b-bookmarks">
      <div class="bookmarks-list">
        <b-bookmark
          :bookmark="bm"
          :key="bm.id"
          class="p-t-md p-b-md"
          v-for="bm in sortedBookmarks"
        ></b-bookmark>
      </div>
    </template>

    <!-- Single bookmark item -->
    <template id="b-bookmark">
      <div class="bookmark-item">
        <template v-if="isEditing">
          <b-bookmark-form
            :bookmark="bookmark"
            @bookmark-saved="isEditing = false"
            @cancel="onCancel"
          ></b-bookmark-form>
        </template>

        <template v-else>
          <article>
            <h2 class="title m-t-none m-b-xs">
              <a :href="bookmark.url">{{ bookmark.title }}</a>
            </h2>

            <p class="m-b-sm m-t-none">
              <a :href="bookmark.url" class="url muted">{{ bookmark.url }}</a>
            </p>

            <!-- <div class="description m-b-sm">{{ bookmark.description }}</div> -->

            <ul class="tags m-none m-b-sm">
              <li class="m-r-sm m-t-none m-b-none" v-for="tag in bookmark.tags">
                <a href="#">{{ tag }}</a>
              </li>
            </ul>

            <div class="pure-g bookmark-meta">
              <div class="pure-u p-r-md">
                <time>{{ updatedDate }}</time>
              </div>

              <div class="pure-u bookmark-actions">
                <a @click.prevent="onClickOfEdit" class="m-r-sm" href="#"
                  >edit</a
                >

                <a
                  @click.prevent="onClickOfDelete"
                  class="bookmark-delete"
                  href="#"
                  class="bookmark-delete"
                >
                  <span v-if="areYouSure">really?</span>
                  <span v-else>delete</span>
                </a>
                <a @click.prevent="nah" href="#" v-if="areYouSure">nah</a>
              </div>
            </div>
          </article>
        </template>
      </div>
    </template>

    <!-- Bookmark form -->
    <template id="b-bookmark-form">
      <form @submit.prevent="saveBookmark" class="pure-form pure-form-stacked">
        <input
          class="pure-input-1"
          type="text"
          placeholder="Title"
          v-model="title"
        />
        <input
          class="pure-input-1"
          type="url"
          placeholder="URL"
          v-model="url"
        />
        <textarea
          class="pure-input-1"
          rows="3"
          v-model="description"
        ></textarea>
        <input
          class="pure-input-1"
          type="text"
          placeholder="Tags"
          v-model="tags"
        />
        <div class="m-t-md">
          <button class="pure-button pure-button-primary" type="submit">
            Save Bookmark
          </button>

          <button @click="emitCancel" class="pure-button m-l-sm" type="button">
            Cancel
          </button>
        </div>
      </form>
    </template>

    <!-- Login form -->
    <template id="b-no-token">
      <form class="pure-form pure-form-stacked">
        <label>Token</label>
        <input class="pure-input-2-3" type="text" v-model="token" />
        <button
          @click="addToken"
          class="pure-button pure-button-primary"
          type="button"
        >
          Go
        </button>
      </form>
    </template>
  </body>
</html>
